<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<form th:action="@{/student/add-student}" method="post" th:object="${student}">

    <p th:if="${#fields.hasErrors('firstName')}"
       th:errors="*{firstName}" th:class="error"></p>
    Imie: <input type="text"
                 th:field="*{firstName}"
                 th:classappend="${#fields.hasErrors('firstName')} ? 'error-input'">

    <br><br>
    <p th:if="${#fields.hasErrors('lastName')}"
       th:errors="*{lastName}" th:class="error"></p>
    Nazwisko: <input type="text"
                     th:field="*{lastName}"
                     th:classappend="${#fields.hasErrors('lastName')} ? 'error-input'">
    <br><br>
    <p th:if="${#fields.hasErrors('mail')}"
       th:errors="*{mail}" th:class="error"></p>
    E-mail: <input type="text" th:field="*{mail}"
                   th:classappend="${#fields.hasErrors('mail')} ? 'error-input'">
    <br><br>
    <p th:if="${#fields.hasErrors('phone')}"
       th:errors="*{phone}" th:class="error"></p>
    Nr telefonu: <input type="text" th:field="*{phone}"
                        th:classappend="${#fields.hasErrors('phone')} ? 'error-input'">
    <br><br>

    <p th:if="${#fields.hasErrors('courses')}"
       th:errors="*{courses}" th:class="error"></p>
    Kursy: <select th:field="*{courses}"
                   th:classappend="${#fields.hasErrors('courses')} ? 'error-input'">
        <option value="Java" >Java</option>
        <option value="Frontend" >Frontend</option>
        <option value="Python" >Python</option>
    </select>
    <br><br>

    <p th:if="${#fields.hasErrors('mode')}"
       th:errors="*{courses}" th:class="error"></p>
    Tryby: <select th:field="*{mode}"
                   th:classappend="${#fields.hasErrors('mode')} ? 'error-input'">
    <option value="dzienny" >dzienny</option>
    <option value="wieczorowy">wieczorowy</option>
    <option value="weekendowy" >weekendowy</option>
</select>
    <br><br>

    <p th:if="${#fields.hasErrors('password')}"
       th:errors="*{password}" class="error"></p>
    Hasło: <input type="password"
                  th:field="*{password}"
                  th:classappend="${#fields.hasErrors('password')} ? 'error-input'"> <br>

    <br><br>
    <input type="submit" value="Przeslij formularz">
</form>
<br><br>
<a href="/strona-glowna">Strona glówna</a>

</body>
</html>