<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kursanci</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>


<form th:action="@{/student/szukaj}" method="post">
    <input type="text" name="searchPhrase" placeholder="szukana fraza">
    <select name="columnName">
        <option value="firstName">Imię</option>
        <option value="lastName">Nazwisko</option>
        <option value="email">E-mail</option>
        <option value="phone">Telefon</option>
        <option value="courseName">Kurs</option>
        <option value="mode">Tryb</option>
    </select>
    <input type="submit" value="Szukaj">
</form>


<br><br>
<a href = "/student/formularz-student">Dodaj nowego studenta</a>


<br><br>
<h><b>Lista naszych kursantów:</b></h>
<br><br>
<table>
    <thead>
    <tr>
        <th >Imię</th>
        <th >Nazwisko</th>
        <th >E-mail</th>
        <th >Telefon</th>
        <th >Kurs</th>
        <th >Tryb</th>
        <th >x </th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="student : ${allStudents}">
        <td th:text="*{student.firstName}"></td>
        <td th:text="*{student.lastName}"></td>
        <td th:text="*{student.mail}"></td>
        <td th:text="*{student.phone}"></td>
        <td th:text="*{student.courses}"></td>
        <td th:text="*{student.mode}"></td>
        <td>
            <a th:href="@{/student/usun-studenta(id=${student.id})}" th:text="usuń"></a>
            <a th:href="@{/student/edytuj-studenta(id=${student.id})}" th:text="edytuj"></a>
        </td>
    </tr>
    </tbody>
</table>

<br><br>


<br><br>
<p><a href="/strona-glowna">Strona glówna</a></p>

</body>
</html>

