<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj trenera</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<form th:action="@{/trener/add-trainer}" method="post" th:object="${trainer}">

    <p th:if="${#fields.hasErrors('firstName')}"
       th:errors="*{firstName}" th:class="error"></p>
    Imie: <input type="text"
                 th:field="*{firstName}"
                 th:classappend="${#fields.hasErrors('firstName')} ? 'error-input'">

    <br><br>
    <p th:if="${#fields.hasErrors('lastName')}"
       th:errors="*{lastName}" th:class="error"></p>
    Nazwisko: <input type="text"
                     th:field="*{lastName}"
                     th:classappend="${#fields.hasErrors('lastName')} ? 'error-input'">
    <br><br>
    <p th:if="${#fields.hasErrors('mail')}"
       th:errors="*{mail}" th:class="error"></p>
    E-mail: <input type="text" th:field="*{mail}"
                   th:classappend="${#fields.hasErrors('mail')} ? 'error-input'">

    <br><br>
    <p th:if="${#fields.hasErrors('phone')}"
       th:errors="*{phone}" th:class="error"></p>
    Nr telefonu: <input type="text" th:field="*{phone}"
                        th:classappend="${#fields.hasErrors('phone')} ? 'error-input'">
    <br><br>
    <p th:if="${#fields.hasErrors('salary')}"
       th:errors="*{mail}" th:class="error"></p>
    Stawka: <input type="number" th:field="*{salary}"
                   th:classappend="${#fields.hasErrors('salary')} ? 'error-input'">
    <br><br>
    Prowadzone kursy:<br>
    <input type="checkbox" th:field="*{courses}" th:value="Java">Java<br>
    <input type="checkbox" th:field="*{courses}" th:value="Frontend">Frontend<br>
    <input type="checkbox" th:field="*{courses}" th:value="Python">Python<br>
    <br><br>

    <p th:if="${#fields.hasErrors('password')}"
       th:errors="*{password}" class="error"></p>
    Hasło: <input type="password"
                  th:field="*{password}"
                  th:classappend="${#fields.hasErrors('password')} ? 'error-input'"> <br>
    <br><br>

    <input type="submit" value="Przeslij formularz">
</form>


<br><br>
<p><a href="/strona-glowna">Strona glówna</a></p>
</body>
</html>