<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trenerzy</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>

<h><b>Lista naszych trenerów:</b></h>
<br><br>


<a href = "/formularz-trener">Dodaj nowego trenera</a>

<br><br>
<table>
    <thead>
    <tr>
        <th >Imię</th>
        <th >Nazwisko</th>
        <th >E-mail</th>
        <th >Stawka</th>
        <th >Kursy</th>
        <th >x </th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="trainer : ${allTrainers}">
        <td th:text="*{trainer.firstName}"></td>
        <td th:text="*{trainer.lastName}"></td>
        <td th:text="*{trainer.email}"></td>
        <td th:text="*{trainer.salary}"></td>
        <td th:text="*{trainer.courses}"></td>

        <td><a th:href="@{/usun-trenera(id=${trainer.id})}" th:text="usuń"></a>
            <a th:href="@{/edytuj-trenera(id=${trainer.id})}" th:text="edytuj"></a>
        </td>
    </tr>
    </tbody>
</table>



<br><br>
<p><a href="strona-glowna?firstName=Ania&age=20">Strona glówna</a></p>
</body>
</html>

