<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>

<nav th:replace="fragments/header :: menu">
<!--    uzywamy nazwy ktora dalismy w header czyli tutaj "menu"-->


</nav>

<!--<li><a th:href="@{/student/lista-studentow}">Lista kursantów </a></li>-->
<!--<li><a th:href="@{/trener/lista-trenerzy}">Lista trenerów </a></li>-->
<!--<li><a th:href="@{/admin/lista-admini}">Lista adminów </a></li>-->


<!--<li><a th:href="@{/student/formularz-student}">Formularz dla kursanta </a></li>-->
<!--<li><a th:href="@{/trener/formularz-trener}">Formularz dla trenera </a></li>-->
<!--<li><a th:href="@{/admin/formularz-admin}">Formularz dla admina </a></li>-->
<!--<p><a th:href="@{/logout}">Wyloguj</a></p>-->

</body>
</html>