<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>

Witaj <span th:text=" ${firstName} + '. ' + 'Masz' + ' ' + ${age} + ' lat.'"></span>
Jesteś <span th:if="${age}>= 18 "> pełnoletnia</span><span th:if="${age}< 18 "> niepełnoletnia</span>


<p><a href="/kursy">Lista kursów </a></p>
<p><a href="/lista-studentow">Lista kursantów </a></p>
<p><a href="/lista-trenerzy">Lista trenerów </a></p>
<p><a href="/formularz-student">Formularz dla kursanta </a></p>
<p><a href="/formularz-trener">Formularz dla trenera </a></p>



</body>
</html>